---
title: 'GBC Plenary Meeting 2019'
layout: layouts/resource.njk
date: 2019-05-09
type: resource
image: "/assets/images/content/gbc2019/b1.png"
resource_link: "/assets/images/content/gbc2019/gbc2019.pdf"
excerpt: Montreal Neurological Institute-Hospital. May 9-10 2019. Meeting highlights - 40-50 international invitees, 7 breakout sessions, Knowledge translation and use
---