---
title: '2020 Cuba Workshop'
layout: layouts/resource.njk
date: 2020-02-27
type: resource
image: "/assets/images/content/cuba2020/cuba2020.jpg"
resource_link: "/event-cuba-feb2020"
excerpt: GBC Workshop 2020. Varadero, Cuba. Feb 27 - Mar 01 2020. The second GBC meeting was held in Varadero, and 76 delegates from academic institutions, governmental and global organizations attended in-person. During the event, 9 working groups met to present updates and ongoing activities. Highlights include - Research Priorities, Research Standards, Best Practices.
---