---
title: 'Vera Gross Lecture'
layout: layouts/resource.njk
date: 2021-11-23
type: resource
image: "/assets/images/content/news/JaninaGaller.jpg"
resource_link: "/assets/images/content/news/Vera-Gross-Lecture-2021.pdf"
excerpt: Dr. Janina Galler to deliver inaugural Vera Gross Lecture. Tuesday, November 23, 2021, 12 noon EST. Dr. Janina Galler from the Harvard Medical School will present the Barbados Nutrition Study for this public presentation. Since the 1970s this multidisciplinary developmental project has studied the lifelong effects of early malnutrition and associated childhood adversities. It includes long-term clinical and demographic data collection, social outcomes and EEG data collection. This lecture is made possible by a generous contribution from Mortimer and Vera Gross.


---