---
title: 'BrainLat Symposium 2021'
layout: layouts/resource.njk
date: 2021-10-29
type: external
image: "/assets/images/content/news/brainlat.jpg"
resource_link: "https://brainlat.uai.cl/eeg-biomarkers-of-brain-health-and-dementia/"
excerpt: EEG biomarkers of brain health and dementia. October 29-30, 2021. 10:00 am CST. Hosted by BrainLat-UAI | GBHI. Advances from the Latin-American Research Network and ISTAART Electrophysiology Professional Interest Area.
---