---
title: '2021 IOP conference'
layout: layouts/resource.njk
date: 2021-09-07
type: external
image: "/assets/images/content/news/IOP2021.png"
resource_link: "https://www.youtube.com/playlist?list=PLd7drEYPjjkL72Y5mfWlAoKSH5eqnsQfC"
excerpt: 20th World Congress of Psychophysiology. iop2021. 7-11 September 2021. GBC-related research activities presented at this event. Follow the link to see our presentations on YouTube.
---