---
title: 'INCF Assembly 2022'
layout: layouts/resource.njk
date: 2022-09-12
type: external
image: "/assets/images/content/news/incf-2022.png"
resource_link: "https://neuroinformatics.incf.org/2022/sessions"
excerpt: International Neuroinformatics Coordinating Facility. Sept 12-16, 2022. Two symposia organized by the GBC. GBC's EEG normative initiative for creating standards for MEEG analysis. Speakers - Pedro Valdes-Sosa, Joseph Picone, Christine Rogers, Scott Makeig. EEG - the interface between neuroinformatics and clinical/basic science research. Speakers - Pedro Valdes-Sosa, Michael Milham, Roberto Rodriguez, Tomas Ros, Jorge Bosch-Bayard
---