---
title: 'ICCN 2022 Geneva'
layout: layouts/resource.njk
date: 2022-09-04
type: external
image: "/assets/images/content/news/gbc-bg-thumb.png"
resource_link: "https://ifcn.site-ym.com/mpage/ProgrammeOverview"
excerpt: International Congress of Clinical Neurophysiology. Sept 4-8, 2022. Two symposia organized by the GBC-OHBM-IFCN. Quantitative Neuroimaging of Public Health problems - Examples from Latin America. Chair - Jorge Bosch-Bayard (Montreal Neurological Institute). EEG in the clouds. Chair - Pedro A. Valdes Sosa.
---