---
title: '2023 Vera Gross Lecture'
layout: layouts/resource.njk
date: 2023-03-22
type: resource
image: "/assets/images/content/news/Milham_Michael_updated_CMI-400x225.jpg"
resource_link: "/assets/images/content/news/Vera-Gross-Lecture-2023a.jpg"
excerpt: Dr. Michael Milham to deliver Vera Gross Lecture. March 22, 2023, 9:30am EDT. Michael P. Milham, MD, PhD, is an internationally recognized neuroscience researcher and the Vice-President of the Child Mind Institute in New York City. He is the founding director of its Center for the Developing Brain and a practicing child and adolescent psychiatrist. Dr. Milham’s research interests include investigating how functional and structural connectivity in the brain may underlie differing forms of mental illness, and seeking to chart the course of brain development in healthy and affected children. This lecture is made possible by a generous contribution from Mortimer and Vera Gross.
---