---
title: '2023 Annual Meeting'
layout: layouts/resource.njk
date: 2023-03-22
type: resource
image: "/assets/images/content/gbc2023/gbc-meeting-2023.png"
resource_link: "/event-annualMeeting-march2023"
excerpt: Virtual Meeting. March 22 and 23, 2023, 9am-12pm EDT. Highlighting achievements of 2022, new projects in 2023 and inspirational presentations by outstanding researchers. The Vera Gross public lecture is presented by Dr. Michael P. Milham, Vice-president of the Child Mind Institute.
---