---
title: 'This is the first news article for a test'
layout: layouts/resource.njk
date: 2024-08-12
type: resource
image: "/assets/images/content/gbc-bg.png"
resource_link: "/news1"
excerpt: This is a test of the News & Events feed 
---