---
title: 'EEGNet Spring Colloquium 2024'
layout: layouts/resource.njk
date: 2024-06-23
type: external
image: "/assets/images/content/colloquium2024/eegnet-thumb-2024.png"
resource_link: "https://youtu.be/PpC20ch8uPw?si=7C_yp_7Z8vRQp3rM"
excerpt: Virtual Meeting. May 23, 2024 11am EDT. Presentations by - Alan Evans, Pedro Valdes-Sosa, Jorge Bosch-Bayard, Christine Rogers, Sid Segalowitz, Philippe Albouy, Sarah Lippé, Faisal Mushtaq.
---