---
title: 'Educational Course at OHBM'
layout: layouts/resource.njk
date: 2024-06-23
type: external
image: "/assets/images/content/ohbm2024/hbm2401_banner.jpg"
resource_link: "https://ww6.aievolution.com/hbm2401/index.cfm?do=ev.viewEv&ev=1566"
excerpt: Seoul, Korea. June 23, 2024 9am- 5:30pm KST. Speakers - Pedro Valdes-Sosa, Maria Bringas-Vega, Alan Evans, Qing Wang.
---