---
title: 'EEG Tools for Quantitative EEG Analysis (qEEG) at the Montreal Neurological Institute Ecosystem for Open Science: CBRAIN & LORIS'
layout: layouts/resource.njk
date: 2024-07-08
type: external
image: "/assets/images/content/news/NewsqEEG.jpg"
resource_link: "https://youtu.be/2ljoZQktLos"
excerpt: qEEG tools in CBRAIN. July 8, 2024. Presented at OHBM 2024, Seoul, Korea. Developed as part of the Global EEG Norms project of the Global Brain Consortium. Taking advantage of the computer resources available at Brain Compute Canada. OHBM-2024 pre-congress course - The Global Brain Consortium qEEG facilities. This course includes the steps on how to prepare the data and run qEEG facilities at CBRAIN. With demonstrative videos.
---